html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.webkit{
  height: 100%;
  max-height: -webkit-fill-available;
  max-height: -moz-available;
}

.selectionlight ::selection {
  background-color: #febdc1;
  color: #ffffff;
}

.selectiondark ::selection {
  background-color: #febdc1;
  color: #161616;
}